{% extends 'base.html.twig' %} 

{% block title %}Hello PublicationController!{% endblock %} 

{% block body %}

    <h1 class="text-6xl text-center pb-12"> Crée une publication </h1>

    {{ form_start(form) }}

        <button type="submit" class="btn">Envoyer</button>
    {{ form_end(form)}}
{% endblock %}